{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
      {% for product in products %}
      <div class="col-md-4">
        <h2>{{ product.title }}</h2>
        <a href="{{ product.get_absolute_url }}"><img src="/{{ product.image }}" width="180"></a>
        <p><strong>{{ product.price }} руб.</strong></p>
        <form method="post" action="{% url "cart_add" product.id %}">
          {{ cart_product_form }}
          {% csrf_token %}
          <p><input type="submit" class="btn btn-secondary" value="Добавить в корзину"></p>
        </form>
      </div>
      {% endfor %}
    </div>
  </div> <!-- /container -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Не знаете что одеть летом?</h1>
      <p>Вот что мы можем предложить:</p>
    </div>
  </div>

  <h3> Статьи: </h3>
  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <h2>Фуфайка</h2>

        <a href="/phone.html">

          <img src="/static/fufajka.jpg" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

    </div>
  </div> <!-- /container -->

</main>
{% endblock %}
