{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<!--<div id="sidebar">-->
<!--        <h3>Категории</h3>-->
<!--        <ul>-->
<!--            <li {% if not category %}class="selected"{% endif %}>-->
<!--                <a href="{% url "coresite:product_list" %}">Все категории</a>-->
<!--            </li>-->
<!--            {% for c in categories %}-->
<!--                <li {% if category.slug == c.slug %}class="selected"{% endif %}>-->
<!--                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>-->
<!--                </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->
<!--<h1>{% if category %}{{ category.name }}{% else %}Все товары:{% endif %}</h1>-->
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас:</p>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row">
      {% for product in products %}
      <div class="col-md-4">
        <h2>{{ product.title }}</h2>
        <a href="{{ product.get_absolute_url }}"><img src="/{{ product.image }}" width="180"></a>
        <p><strong>{{ product.price }} руб.</strong></p>
        <form method="post" action="{% url "cart:cart_add" product.id %}">
          {{ cart_product_form }}
          {% csrf_token %}
          <p><input type="submit" class="btn btn-secondary" value="Добавить в корзину"></p>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>

</main>
{% endblock %}
