{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<hr>
    <div class="container mb-5">
    <div class="row">
      {% for product in product_list %}
      <div class="col-md-4">
        <h2>{{ product.title }}</h2>
        <a href="{{ product.get_absolute_url }}"><img src="/{{ product.image }}" width="180"></a>
        <p><strong>{{ product.price }} руб.</strong></p>
        <form method="post" action="{% url "cart:cart_add" product.id %}">
          {{ cart_product_form }}
          {% csrf_token %}
          <p><input type="submit" class="btn btn-secondary" value="Добавить в корзину"></p>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
<hr>
{% endblock %}
